<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <!--inserting icon-->
    <title><%= person.name %></title>
</head>
<body>
    <h1>
        <%= person.name %>
    </h1>

    <ul class="profile-info">
        <% if (person.physician) { %>
            <li>Attending physician: <%= person.physician %> </li>
            <li>Age: <%= person.age %> </li>
            <li>Sex: <%= person.sex %> </li>
            <li>Height (in inches): <%= person.height %> </li>
            <li>Weight (in lbs): <%= person.weight %> </li>
            <li>Condition: <%= person.condition %> </li>
            <li>Symptoms: <%= person.symptoms %> </li>
            <li>Inpatient: 
                <% if (person.inpatient) { %>
                    Yes
                <% } else { %>
                    No
                <% } %>
            </li>
        <% } else { %>
            <li>Specialty: <%= person.specialty %> </li>
            <li>Bio: <%= person.bio %> </li>
            <li>Available to take on new patients: 
                <% if (person.available) { %>
                    Yes
                <% } else { %>
                    No
                <% } %>
            </li>
            <li>
                Current patients:
                <% if (patientList) { %>
                    <ul>
                        <% patientList.forEach((patient) => { %>
                            <li><a href="../profile/<%= patient._id %>"><%= patient.name %></a></li>
                        <% }) %>
                    </ul>
                <% } %>
            </li>
        <% } %>
    </ul>

    <div id="buttons">
        <form action="/patients" method="GET">
            <button type="submit">View patients list</button>
        </form>

        <form action="/physicians" method="GET">
            <button type="submit">View physicians list</button>
        </form>
    
        <form action="/" method="GET">
            <button type="submit">Go home</button>
        </form>

        <form action="/profile/<%= person._id %>?_method=DELETE" 
            method="POST">
            <button id="delete-button" type="submit">Delete <%= person.name %></button>
        </form>
    </div>
</body>
</html>